<ion-view view-title="Home" hide-back-button="true">
        <ion-content class="padding-top">
          <!--<button class="button" ng-click="modal.show()">Show Modal</button>-->

          <!--<h1>Hello There!</h1>-->
          <!--<button class="button button-full button-positive" ng-click="model.sayWhat()">Click Here</button>-->
          <div class="card">
            <div class="item item-text-wrap">
              <button class="button button-full button-positive" ng-click="modal.show()">
                <i class="icon ion-plus-circled"></i>
                Add To My States
              </button>
            </div>
          </div>
          <button class="button button-full button-assertive" ng-click="model.takePhoto()">
            <i class="icon ion-camera"></i>

            Take Photo
          </button>
          <!--<button class="button button-full button-assertive" ng-click="model.choosePhoto()">-->
            <!--Choose Photo-->
          <!--</button>-->
          <!--<center>-->
            <!--<img ng-show="model.imgURI !== undefined" ng-src="{{model.imgURI}}" style="text-align: center"></center>-->
          <!--<button ng-click="model.logOut()" class="button button-clear button-positive">Logout</button>-->

          <!--<br>-->
          <!--<div class="list list-inset">-->
            <!--<label class="item item-input">-->
              <!--<i class="icon ion-search placeholder-icon"></i>-->
              <!--<input type="text" placeholder="Search">-->
            <!--</label>-->
          <!--</div>-->


          <div class="list card">

            <div class="item">
              <h2>Your US map {{catzz}}</h2>
            </div>
            <div svg-map>where is thejfklsda;fjkas;jdfk;jasdfk;jasdklf;jas;dlfj {{catzz}}</div>

            <div class="item item-image">
            </div>

            <a class="item item-icon-left assertive" href="#">
              <i class="icon ion-map"></i>
              <h1>{{key}}</h1>
            </a>

          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel panel-body">
                    <!--<div svg-map></div>-->
                    <div class="scale">
                      <!--<div ng-repeat="n in [0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]"-->
                      <!--ng-style="{backgroundColor:'{{n | map_colour}}'}">{{n}}-->
                      <!--</div>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!--<p>-->
                <!--<button ng-click="createDummyData()" class="btn btn-block btn-default">Create Dummy Data</button>-->
                <!--</p>-->
                <div class="panel panel-default">
                  <div class="panel panel-body">
                    <div class="regionlist">
                      <div ng-repeat="(key,region) in dummyData"
                           ng-class="{active:hoverRegion==key}"
                           ng-click="changeHoverRegion(key)">
                        <div>{{key}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<script>-->
            <!--var states='UT';-->
            <!--$(document).ready(function() {-->
              <!--$('#map').usmap({-->
                <!--'stateSpecificHoverStyles': {-->
                  <!--'HI' : {fill: '#ff0'}-->
                <!--},-->

                <!--'mouseoverState': {-->
                  <!--'HI' : function(event, data) {-->
                    <!--//return false;-->
                  <!--}-->
                <!--},-->

                <!--'stateSpecificStyles': {-->
                  <!--'TX': {fill: 'yellow'}-->
                <!--},-->



                <!--'click' : function(event, data) {-->
                  <!--states=data.name;-->
                  <!--console.log(states);-->
                  <!--$('#alert')-->
                    <!--.text('Click '+data.name+' on map 1')-->
                    <!--.stop()-->
                    <!--.css('backgroundColor', '#ff0')-->
                    <!--.animate({backgroundColor: '#ddd'}, 1000);-->
                  <!--$('#map').usmap({-->
                    <!--'stateSpecificStyles': {-->
                      <!--'UT': {fill: 'yellow'}-->
                    <!--}-->
                  <!--})-->
                <!--}-->
              <!--});-->

              <!--$('#map2').usmap({-->
                <!--'stateStyles': {-->
                  <!--fill: '#025',-->
                  <!--"stroke-width": 1,-->
                  <!--'stroke' : '#036'-->
                <!--},-->
                <!--'stateHoverStyles': {-->
                  <!--fill: 'teal'-->
                <!--},-->

                <!--'click' : function(event, data) {-->
                  <!--$('#alert')-->
                    <!--.text('Click '+data.name+' on map 2')-->
                    <!--.stop()-->
                    <!--.css('backgroundColor', '#af0')-->
                    <!--.animate({backgroundColor: '#ddd'}, 1000);-->
                <!--}-->
              <!--});-->

              <!--$('#over-md').click(function(event){-->
                <!--$('#map').usmap('trigger', 'MD', 'mouseover', event);-->
              <!--});-->

              <!--$('#out-md').click(function(event){-->
                <!--$('#map').usmap('trigger', 'MD', 'mouseout', event);-->
              <!--});-->
            <!--});-->
          <!--</script>-->
          <toaster-container toaster-options="{'time-out': 3000,'close-button': true,'position-class': 'toast-top-full-width'}"></toaster-container>

        </ion-content>
  <div class="tabs-icon-top  tabs-color-dark">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
         Home
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
         My States
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings/About
      </a>
    </div>
  </div>
</ion-view>
