<ion-view view-title="Home" hide-back-button="true">
        <ion-content class="padding-top">
          <h1>Hello There!</h1>
          <button class="button button-full button-positive" ng-click="model.sayWhat()">Click Here</button>
          <button class="button button-full button-assertive" ng-click="model.takePhoto()">
            Take Photo
          </button>
          <button class="button button-full button-assertive" ng-click="model.choosePhoto()">
            Choose Photo
          </button>
          <center>
            <img ng-show="model.imgURI !== undefined" ng-src="{{model.imgURI}}" style="text-align: center"></center>
          <button ng-click="model.logOut()" class="button button-clear button-positive">Logout</button>

          <br><br><br>

          <input type="text"ng-trim="false" ng-model="model.selected" typeahead="state for state in states | filter:$viewValue:stateComparator" class="form-control" />
          <h1>{{model.selected}}</h1>
        </ion-content>
</ion-view>
