<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <h1 class="title">Select Where You've been.</h1>
      <button class="button button-icon ion-ios-close-empty" ng-click="closeModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <!--<button class="button button-full button-positive" ng-click="myFunction()">-->
      <!--Full Width Block Button-->
    <!--</button>-->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-change="searchList()" ng-model="searchText">
      </label>
    </div>
    <ion-list>
      <ion-checkbox ng-repeat="state in statesList"
                    ng-model="state.checked"
                    ng-change="selectedStates(state)"
                  >
        {{state.name}}
        {{state.checked}}
      </ion-checkbox>

    </ion-list>

  </ion-content>
</ion-modal-view>
